<p id="notice"><%= notice %></p>

<h1>Products</h1>

<%= rp_search_form_for @q do |f| %>
  <%= f.input :name_cont, label: 'Name ※部分一致' %>
  <div class="form-row">
    <%= f.input :price_gteq, label: 'Price 以上', wrapper_html: { class: 'col-md-6' } %>
    <%= f.input :price_lt, label: 'Price 未満', wrapper_html: { class: 'col-md-6' } %>
  </div>
  <%= f.button :submit, class: 'btn-primary' %>
<% end %>

<%= rp_search_form_for(@q, format: :csv) do |f| %>
  <%= f.input :name_cont, as: :hidden %>
  <%= f.input :price_gteq, as: :hidden %>
  <%= f.input :price_lt, as: :hidden %>
  <%= f.button :submit, 'CSV Download' %>
<% end %>

<%= form_tag destroy_multiple_products_path, method: :delete do %>
  <%= submit_tag 'Delete selected' %>

  <table class="table table-product">
    <thead class="thead-light">
      <tr>
        <th scope="col"></th>
        <th scope="col"><%= sort_link(@q, :name) %></th>
        <th scope="col"><%= sort_link(@q, :price) %></th>
        <th scope="col">Description</th>
        <th colspan="2" scope="col"></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= check_box_tag "product_ids[]", product.id %></td>
          <td><%= link_to product.name, product %></td>
          <td class="product-price">
            <%= number_with_delimiter number_with_precision(product.price, strip_insignificant_zeros: true) %>
          </td>
          <td><%= product.description %></td>
          <td><%= link_to 'Edit', edit_product_path(product) %></td>
          <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

<br>

<%= link_to 'New Product', new_product_path %>
