<%= content_for :title, 'Products' %>

<div class="mb-3">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <%= link_to 'New Product', new_product_path, class: 'btn btn-info' %>
    </li>
  </ul>
</div>

<%= render 'shared/notice' %>

<%= rp_search_form_for @q do |f| %>
  <%= f.input :name_cont, label: 'Name ※部分一致' %>
  <div class="form-row">
    <%= f.input :price_gteq, label: 'Price 以上', wrapper_html: { class: 'col-md-6' } %>
    <%= f.input :price_lt, label: 'Price 未満', wrapper_html: { class: 'col-md-6' } %>
  </div>
  <%= f.button :submit, class: 'btn-primary' %>
  <%= f.button :submit, 'CSV Download', class: 'btn-success', formaction: products_path(format: :csv) %>
<% end %>

<div class="mb-3">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <%= submit_tag 'Delete selected', class: 'btn btn-danger', form: 'productsForm' %>
    </li>
  </ul>
</div>

<%= form_tag destroy_multiple_products_path, method: :delete, id: 'productsForm' do %>
  <table class="table table-product">
    <thead class="thead-light">
      <tr>
        <th scope="col"></th>
        <th scope="col"><%= sort_link(@q, :name) %></th>
        <th scope="col"><%= sort_link(@q, :price) %></th>
        <th scope="col">Description</th>
        <th colspan="2" scope="col"></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= check_box_tag "product_ids[]", product.id %></td>
          <td><%= link_to product.name, product %></td>
          <td class="product-price">
            <%= number_with_delimiter number_with_precision(product.price, strip_insignificant_zeros: true) %>
          </td>
          <td><%= product.description %></td>
          <td><%= link_to 'Edit', edit_product_path(product) %></td>
          <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
