<!DOCTYPE html>
<html>
  <head>
    <title><%= if content_for?(:title) then yield(:title) + ' | ' end %>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% container = content_for?(:container) ? yield(:container) : 'container' %>
    <header class="rp-header">
      <div class="<%= container %>">
        <h1><%= if content_for?(:title) then yield(:title) end %></h1>
      </div>
    </header>
    <main class="rp-main">
      <div class="<%= container %>">
        <%= yield %>
      </div>
    </main>
    <footer class="rp-footer">
      <div class="<%= container %>">
        &copy; 2020 Noranuko.net
      </div>
    </footer>
  </body>
</html>
